# Node.js
node_modules
dist
lib
build
.env
.npmrc

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Storybook & build files
storybook-static
coverage